// Основные цвета
$mainColor: #ffffff; // Цвет шрифта по умолчанию
$mainColorBlack: #39393939;
$bgColor: #06266F;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: calc(1280px - $containerPadding);

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768px; // Телефоны L
$mobileSmall: 480px; // Телефоны S

// Ограничивающий контейнер ======================================================================================================================================================================================================================

[class*="__container"] {
    max-width: $maxWidthContainer;
    box-sizing: content-box;

    flex: 1 0 auto;
    
    padding: 0 calc($containerPadding / 2);
    margin: 0;
}
